/*styling.css*/
/*Style body by adding background image and set it to cover, add font-family*/
body{
    font-family: Arvo, serif;
    background-size: cover;
}

/*Style brand*/
.brand-name{
    height: 15px;
    color: white;
}

/*Style navigation bar*/
.navbar-inverse{
    background: rgba(0,0,0,0.6);   
}

/*
#navbarCollapse
{
    float: right;
}*/

.nav li{
    color: #fff;
    font-size: 17px;
    padding: 10px 10;
}  

.nav li:hover{
    border-bottom: 1px solid #00FFB8; 
    padding-bottom: 9px;
    cursor:pointer;
} 

/*Style header*/
.header{
    background-color:transparent;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 45px;
    letter-spacing: 2.5px;
}

/*Style footer*/
.footer{
    background-color: rgba(0, 0, 0, 0.5); 
    color: grey;
    font-size: 15px;
    padding: 10px 0;
}
/*use media queries to change icons size in small devices*/
@media (max-width: 768px){
    .bodyimage{
        height: 80px;   
    }
}