body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/2.png);
    background-size: cover;
	font-family: Arial;
}

.wrap{
	max-width: 800px;
	border-radius: 25px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 40px;
	color: deeppink;
	margin-top: 100px;
	
}
.wrap A{
    float: left;
    font-size: 19px;
    color: gray;
    margin-bottom: 50px;
    padding: 13px 0; 
}
	
.wrap h1{
    float: left;
    font-size: 30px;
    border-bottom: 6px 	solid #C0C0C0;
    margin-bottom: 50px;
    padding: 15px 0; 
}


input[type=text],input[type=password],input[type=email]{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 15px 5px;
	background: none;
    margin: 10px 0;
	box-sizing: border-box;
		border: none;
    border-bottom: 5px solid #C0C0C0;
	box-sizing: border-box;

	float: left;
	width=80%;
	color:white;
	outline: none;
	border-radius: 5px;
	
}
input[type=submit],input[type=reset]{
	width: 100%;
    height: 50px;
    background: none;
    border: 3px solid #C0C0C0;
	border-bottom: 5px solid #C0C0C0;
    color:white;
    padding: Spx;
    font-size: 18px;
    margin: 12px 0;
	border-radius: 25px;
}